<div class="container" style="margin-top: 40px">
    <h3>Hello, users 👋</h3>
    <p style="max-width: 600px">We are a developing project that aims to help programmers and developers. It doesn't take a lot of effort to connect to the service, just create an account. Here you can find like-minded people, partners, and sponsors. We keep improving our service every day! Have a productive day.</p>
    <h3>New functionality 🚀</h3>
    <p style="font-weight: bold"> 🔥Creating Company
        <br> 🔥Creating Projects
        <br> 🔥Creating Posts
        <br> 🔥Paid tariffs
        <br> 🔥Teaming up
        <br> 🔥Markdown support
        <br> 🔥File and image upload support in markdown
        <br> 🔥Editing everything <small>(except posts)</small>
    </p>
    <h3>Our plans ⏰</h3>
    <p style="font-weight: bold">
             ⚡ Team roles
        <br> ⚡ Advanced search
        <br> ⚡ Сreation of project fees
        <br> ⚡ Post feed
        <br> ⚡ Chats to communicate with subscribers
        <br> ⚡ Comments
        <br> ⚡ Post ratings
    </p>
</div>
