.upload-cover-container {
  color: #444;
  align-self: center;
  position: relative;
  z-index: 0;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-cover-container.no-margin {
  margin: 0;
}

.upload-droparea-wrapper {
  max-width: 820px;
  width: 100%;
  padding-bottom: 42.6829%;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.upload-droparea-wrapper.fullwidth {
  max-width: none;
}

.upload-label-container {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.upload-label-container>svg{
  margin-bottom: 14px;
}

.upload-label {
  display: flex;
  color: #444;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 12px;
  line-height: 16px;
}

.upload-label input {
  display: none;
}

.label-button {
  border: 1px solid #c9c9c9;
  background-color: #f4f4f4;
  box-shadow: none;
  color: #464646;
  cursor: pointer;
  user-select: none;
  appearance: none;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  font-size: 12px;
  display: inline-block;
  margin: 0 12px 0 0;
  outline: none;
}

.upload-description {
  color: #777;
  font-size: 12px;
  line-height: 18px;
  margin: 9px 0;
}

.upload-droparea {
  object-fit: cover;
  object-position: 0% 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
  border: 1px solid #d5dddf;
  border-radius: 6px;
  transition: border .2s ease-out .1s;
}

.upload-droparea.dragover {
  border: 2px solid var(--btn-main-color);
}

.upload-droparea.error {
  border: 1px solid #cf222e;
}

.error {
  color: #cf222e;
  fill: #cf222e;
}

.error::placeholder {
  color: #cf222e;
}

.text-danger {
  margin-left: 3px;
}

.upload-label-container path {
  transition: fill .2s ease-out .1s;
}

.upload-result {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 820px;
}

.post-cover-img {
  width: 100%;
  max-height: 350px;
  object-fit: contain;
  border-radius: inherit;
}

.post-cover-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
}

.backdrop {
  position: absolute;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(15px);
}

.upload-result-label {
  position: absolute;
  bottom: 8px;
  z-index: 1;
}

.upload-label-container path.dragover {
  fill: var(--btn-main-color);
}

