@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*
{
  font-family: var(--font-main);
  font-weight: normal;
}

html,body {
  position: relative;
  height: 100%;
}

header{
  width: 100%;
}

footer{
  color: #d7d7d7;
  background-color: #181818;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container-fluid{
  padding: 0;
}

.btn-main{
  margin: 27px auto 14px auto;
  display: block;
  background-color: var(--btn-main-color) !important;
  color: white;
  font-weight: bold;
}

nu-markdown.error {
  color: #cf222e!important;
  border-color: #cf222e!important;
}

nu-markdown.error *{
  color: #cf222e!important;
  border-color: #cf222e!important;
}

.text-center{
  text-align: center !important;
}

.main {
  position: relative;
  min-height: 100%;
}

.content {
  min-height: calc(100vh - 70px);
}

.price{
  background-color: #f6f6f6;
  border: 10px;
  border-radius: 20px;
  margin: 4px;
  text-align: center;
}

:root{
    --background-main-color: #ffffff;
    --btn-main-color: #4c45c2;
    --btn-main-color-hover: #413ca4;
    --font-main: 'Montserrat', sans-serif;
    --font-main-size: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-autocomplete-panel {
  border-radius: 25px!important;
}

.swiper-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-info div {
  background-color: #F3F3F3;
  padding: 1px 5px 1px 5px;
  border-radius: 10px;
  font-size: 1rem;
}

.swiper-info > div:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.swiper-info > div:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.swiper-info .swiper-count {
  background-color: #E6E6E6;
  padding: 1px 7px 1px 6px;
}

.mat-expansion-panel-header .mat-content {
  justify-content: center;
}

.mat-expansion-panel {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 10%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%)!important;
}

* {
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #F3F3F3;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #e5e5e5;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #d9d9d9;
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--btn-main-color-hover);
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(65,60,164,.54);
}

.mat-slide-toggle.mat-primary.mat-checked .mat-ripple-element {
  background-color: var(--btn-main-color-hover);
}

.post-content * {
  max-width: 100%;
}
