.title{
    color: white !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
}

.login {
    background-image: url('/assets/img/login-background.png');
    background-repeat: round;
    background-size: 100%;
    min-height: calc(100vh - 70px);
}

/*.login-main{
    display: block;
    align-items: center;
    justify-content: center;
}*/

.login .form-control{
    width: 100%;
    height: 42px;
    border-radius: 20px;
    border-color: #5a5a5a;
    border-style: solid;
}

#account{
    max-width: 343px;
    margin: auto;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

app-devpoint-button {
  display: flex;
  justify-content: center;
}
