<div class="container-xl">
    <form>
        <div class="container" style="padding-bottom: 10px;">
            <div class="row align-items-center">
                <div class="col-6 search-col" style="min-width: 300px">
                  <input maxlength='32' [(ngModel)]='search' type="text" name="searchString" placeholder="What are you searching for?"
                         class="input-search form-control" autocomplete="off" (change)='onSearchChange()'
                         [formControl]="control"
                         [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)='onSearchChange()'>
                    <mat-option *ngFor="let name of filteredNames | async" [value]="name">
                      {{name}}
                    </mat-option>
                  </mat-autocomplete>
                </div>
                <div class="col-auto button-col">
                    <app-devpoint-button devpoint-border-style='round'
                                         noBorderLeft
                                         (click)='onSearchChange()'
                                         autoWidth>
                        Search
                    </app-devpoint-button>
                </div>
                <div class="round col-auto">
                    <input type="checkbox" name="searching" class="checkbox" id="checkbox-1" [checked]="searchingDevelopers" (change)="toggleDevelopersSearch()">
                    <label for="checkbox-1" class="checkbox-label">Developers</label>
                </div>
                <div class="round col-auto">
                    <input type="checkbox" name="searching" class="checkbox" id="checkbox-2" [checked]="searchingProjects" (change)="toggleProjectsSearch()">
                    <label for="checkbox-2" class="checkbox-label">Projects</label>
                </div>
                <div class="round col-auto">
                    <input type="checkbox" name="searching" class="checkbox" id="checkbox-3" [checked]="searchingCompanies" (change)="toggleCompaniesSearch()">
                    <label for="checkbox-3" class="checkbox-label">Companies</label>
                </div>
            </div>
        </div>
    </form>
    <div class="row row-cols-2 entity-container">
      <ng-container *ngIf='searchingDevelopers'>
        <div class="col" *ngFor="let item of developers">
            <app-developer-preview [developer]="item" [isCurrent]='currentUser?.id === item.id'></app-developer-preview>
        </div>
      </ng-container>

      <ng-container *ngIf='searchingProjects'>
        <div class="col" *ngFor="let item of projects">
          <app-project-preview [project]="item" [isOwned]='currentUser?.id === item.ownerId'></app-project-preview>
        </div>
      </ng-container>

      <ng-container *ngIf='searchingCompanies'>
        <div class="col" *ngFor="let item of companies">
          <app-company-preview [company]="item" [isOwned]='currentUser?.id === item.ownerId'></app-company-preview>
        </div>
      </ng-container>
    </div>

  <mat-paginator [length]="totalCount"
                 [pageIndex]='page'
                 [pageSize]='pageSize'
                 [pageSizeOptions]="pageOptions"
                 (page)="onPageChange($event)"
                 aria-label="Select page">
  </mat-paginator>
</div>
