.cover {
  position: relative;
  display: flex;
  justify-content: center;
}

.post-wrapper {
  text-decoration: none;
  color: black;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 15px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  font-size: 1rem;
  padding: 20px 0 0;
  margin-top: 24px;
  margin-bottom: 32px;
}

.post-wrapper-settings {
  max-width: 888px;
}

.error {
  color: #cf222e!important;
  border-color: #cf222e!important;
}

.error *{
  color: #cf222e!important;
  border-color: #cf222e!important;
}

.error::placeholder {
  color: #cf222e;
}

.text-danger {
  margin-top: -24px;
  margin-left: 3px;
}

.mt0 {
  margin-top: 0!important;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.post-header {
  align-items: center;
  display: flex;
  padding: 0 0 0 32px;
  height: fit-content;
  width: fit-content;
}

.username {
  margin: 0 5px 0 0;
  color: #414b50;
  flex: 1;
  font-size: .8125rem;
  font-weight: 700;
  line-height: .9375rem;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  color: #777;
  font-size: .8125rem;
  font-weight: 500;
  line-height: .9375rem;
}

.post-editor {
  min-height: 640px;
  padding: 20px 32px 20px 36px;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  max-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.post-footer {
  padding: 20px 32px 20px 36px;
  display: flex;
  align-items: center;
}

.label {
  color: #444;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 12px;
  line-height: 16px;
}

.create-post {
  margin-left: 16px;
}

.saved {
  color: #888;
  font-size: .85rem;
  margin-left: 12px;
}

.post-title {
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 0;
  font-size: 32px;
}

.empty-input {
  background-color: transparent;
  outline: none;
  border: none;
}

