<div class='container-fluid register'>
  <h1 class='title'>Create a new account</h1>
  <div class='container text-center login-main'>
    <app-devpoint-errors [errors]='errors'></app-devpoint-errors>
    <form method='post' [formGroup]='registerForm' (ngSubmit)='submitForm()'>
      <div class='form-group'>
        <label>Login</label>
        <input maxlength='32' formControlName='login' class='form-control' [class.error]='hasErrors("login")'/>
        <span class='text-danger'
              *ngIf="hasError('login', 'required')">
          Login is required
        </span>
      </div>

      <div class='form-group'>
        <label>Email</label>
        <input maxlength='64' formControlName='email' class='form-control' [class.error]='hasErrors("email")'/>
        <span class='text-danger'
              *ngIf="hasError('email', 'required')">
          Email is required
        </span>
        <span class='text-danger'
              *ngIf="hasError('email', 'email')">
          Enter a valid email address
        </span>
      </div>

      <div class='form-group'>
        <label>Password</label>
        <input maxlength='32' formControlName='password' type='password' class='form-control' [class.error]='hasErrors("password")'/>
        <span class='text-danger'
              *ngIf="hasError('password', 'required')">
          Password is required
        </span>
        <span class='text-danger'
              *ngIf="hasError('password', 'invalidPassword')">
          Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
          letter and 1 number
        </span>
      </div>
      <div class='form-group'>
        <label>Confirm password</label>
        <input maxlength='32' formControlName='confirmPassword' type='password' class='form-control' [class.error]='hasErrors("confirmPassword") || formHasError("passwordMismatch")'/>
        <span class='text-danger'
              *ngIf="hasError('confirmPassword', 'required')">
          Confirm password is required
        </span>
        <span class='text-danger'
              *ngIf="formHasError('passwordMismatch')">
          Passwords does not match
        </span>
      </div>
      <app-devpoint-button autoWidth type='submit'>
        Register
      </app-devpoint-button>
    </form>
  </div>
</div>
