<div class="container" *ngIf='company'>
  <app-company-preview [company]="company" [isOwned]='isOwned' large></app-company-preview>
</div>

<div class="projects-container container" *ngIf='company'>
  <mat-accordion>
    <mat-expansion-panel hideToggle (expandedChange)='hideProjects = !$event' *ngIf='projects'>
      <mat-expansion-panel-header>
        <div class='swiper-info'>
          <div>Projects</div> <div class='swiper-count'>{{ projects.length }}</div>
        </div>
      </mat-expansion-panel-header>
      <app-devpoint-swiper createLink='/create-project'
                           [routerParams]="{type: 'company', id: company.id }"
                           [addLink]='isOwned'
                           [items]='projects'
                           label='Projects'
                           [hide]='hideProjects'
      >
      </app-devpoint-swiper>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle (expandedChange)='hideDevelopers = !$event' *ngIf='developers'>
      <mat-expansion-panel-header>
        <div class='swiper-info'>
          <div>Developers</div> <div class='swiper-count'>{{ developers.length }}</div>
        </div>
      </mat-expansion-panel-header>
      <app-devpoint-swiper createLink="/company/{{company.id}}/edit"
                           [routerParams]="{ page: 1 }"
                           [addLink]='isOwned'
                           [items]='developers'
                           label='Developers'
                           [hide]='hideDevelopers'
      >
      </app-devpoint-swiper>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class='container' *ngIf='company && isOwned'>
  <app-devpoint-button fullWidth
                       routerLink='/add-post'
                       [queryParams]="{type: 'company', id: company.id }"
  >
    Add post
  </app-devpoint-button>
</div>

<app-posts-container [getRequest]='getPostsRequest'>
</app-posts-container>
