.cover {
  position: relative;
  display: flex;
  justify-content: center;
}

.post-wrapper {
  text-decoration: none;
  color: black;
  width: 100%;
  cursor: default;
  max-width: 820px;
}

.loading-preview {
  width: 350px;
  height: 350px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-cover-container {
  display: flex;
  width: 100%;
  max-height: 350px;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  transition: background-color 0.16s ease-in-out, box-shadow 0.16s ease-in-out;
  cursor: pointer;
  position: relative;
  max-width: 820px;
  z-index: 1;
}

.post-wrapper:hover .post-cover-container{
  background-color: #dbdbdb;
  box-shadow: 0px 4px 8px 4px rgba(34, 60, 80, 0.2);
}

a {
  color: inherit;
}

a:hover {
    text-decoration: none;
}

.post-cover-img {
  width: 100%;
  max-height: 350px;
  max-width: 820px;
  object-fit: contain;
  border-radius: inherit;
}

.post-content {
  max-width: 820px;
  padding: 12px;
  background-color: #f5f5f5;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(34, 60, 80, 0.2);
  transition: background-color 0.16s ease-in-out, box-shadow 0.16s ease-in-out;
  cursor: auto;
  user-select: text;
  position: relative;
  word-break: break-all;
  max-height: 400px;
  overflow: hidden;
}

.post-content:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom,
  rgba(255,255,255, 0),
  #f5f5f5 80%);
  border-radius: 0 0 15px 15px;
  width    : 100%;
  height   : 4em;
}

.post-wrapper:hover .post-content{
  background-color: #efefef;
  box-shadow: 0px 4px 8px 4px rgba(34, 60, 80, 0.2);
}

.post-title {
  position: absolute;
  z-index: 2;
  top: 0;
  margin-top: 16px;
  text-align: center;
  padding: 8px 16px;
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(4px);
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
}

.post-date {
  position: absolute;
  z-index: 2;
  text-align: center;
  padding: 4px 8px;
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(4px);
  cursor: pointer;
  width: 100%;
}

.locked {
  width: 100%;
  max-height: 350px;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  transition: background-color 0.16s ease-in-out, box-shadow 0.16s ease-in-out;
  flex-direction: column;
  padding: 16px;
  height: 350px;
  cursor: default;
}

.locked-label {
  margin-top: 8px;
}

.post-cover-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.backdrop {
  position: absolute;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(15px);
}
