.cover {
  position: relative;
  display: flex;
  justify-content: center;
}

.wrapper {
  text-decoration: none;
  color: black;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 15px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  font-size: 1rem;
  padding: 20px 0 0;
  margin-top: 24px;
  margin-bottom: 32px;
  max-width: 888px;
}

.error {
  color: #cf222e;
}

.error::placeholder {
  color: #cf222e;
}

.text-danger {
  margin-top: -24px;
  margin-left: 3px;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.header {
  align-items: center;
  display: flex;
  padding: 0 0 0 32px;
  height: fit-content;
  width: fit-content;
}

.body {
  min-height: 640px;
  padding: 20px 32px 20px 36px;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  max-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 20px 32px 20px 36px;
  display: flex;
  align-items: center;
}

.label {
  color: #444;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 12px;
  line-height: 16px;
}

.create-button {
  margin-left: 16px;
}

.title {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 32px;
}

.description {
  font-weight: 500;
  font-size: 1rem;
  height: auto;
  overflow: hidden;
  margin-top: 4px;
}

.empty-input {
  background-color: transparent;
  outline: none;
  border: none;
}

