.home-main
{
    background-image: url('/assets/img/main-background.png');
    background-size: 100%;
    background-repeat: round;
    min-height: calc(100vh - 70px);
    color:white !important;
}

.home-main .container{
  padding-top: 69px;
}

.home-main h2{
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 32px;
    margin-bottom: 47px;
    width: 440px;
}

.home-main p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 477px;
}

.home-main a{
    margin: auto;
}

.home-main .container app-devpoint-button{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.home-main .container .btn{
    font-weight: bold;
}
