button {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  transition: background-color 80ms cubic-bezier(0.33, 1, 0.68, 1), color 80ms cubic-bezier(0.33, 1, 0.68, 1);
}

.content-wrapper {
  display: grid;
  width: auto;
  column-gap: 6px;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.bold {
  font-weight: bold;
}

.auto-width {
  width: auto;
}

.full-width {
  width: 100%;
}

button:focus {
  box-shadow: none;
}

.style-main {
  background-color: var(--btn-main-color);
  color: white;
}

:not(.disabled).style-main:hover {
  background-color: var(--btn-main-color-hover);
}

.style-white {
  background-color: white;
  color: black;
}

:not(.disabled).style-white:focus {
  box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 25%);
}

.style-black {
  background-color: #1E1E2C;
  color: white;
}

:not(.disabled).style-black:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 25%);
}

.style-transparent-white {
  background-color: transparent;
  color: white;
}

:not(.disabled).style-transparent-white:focus {
  box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 25%);
}

.style-transparent-black {
  background-color: transparent;
  color: black;
}

:not(.disabled).style-transparent-black:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

:not(.disabled).style-transparent-black:focus {
  box-shadow: none;
}

:not(.disabled).style-transparent-black:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.border-round {
  border-radius: 25px;
}

.border-more {
  border-radius: 6px;
}

.no-border-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.no-border-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.style-transparent-outline {
  background-color: transparent;
  color: black;
  border-color: rgba(0, 0, 0, 0.1);
}

:not(.disabled).style-transparent-outline:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

:not(.disabled).style-transparent-outline:focus {
  box-shadow: none;
}

:not(.disabled).style-transparent-outline:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.style-transparent-outline-red {
  background-color: transparent;
  color: black;
  border-color: rgba(0, 0, 0, 0.1);
}

:not(.disabled).style-transparent-outline-red:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #cf222e;
}

:not(.disabled).style-transparent-outline-red:focus {
  box-shadow: none;
}

:not(.disabled).style-transparent-outline-red:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.size-large {
  padding: 0.844rem 2rem;
}

.size-small {
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
}
